
<!-- <input type="text" #newitem> -->
<div class="container">
<div class="card" style="width: 18rem;">
      <img src=".././assets/vcoffee.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Vanilla Latte </h5>
        <p class="card-text">Price - 250 Rs</p>
        <button class="btn btn-primary" (click)="addNewitem()">Add to Cart</button>
      </div>
      
    </div>
    <div class="card" style="width: 18rem;">
        <img src=".././assets/mocha.jfif" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Mocha </h5>
          <p class="card-text">Price - 250 Rs</p>
          <button class="btn btn-primary" (click)="addNewitem()">Add to Cart</button>
        </div>
      </div>
      <div class="card" style="width: 18rem;">
        <img src=".././assets/icecoffe.jfif" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Ice Vanilla Latte </h5>
          <p class="card-text">Price - 250 Rs</p>
          <button class="btn btn-primary" (click)="addNewitem()">Add to Cart</button>
        </div>
      </div>
</div>
