<!--  <img [src] =" imageUrl">  -->
<!-- <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="/../assets/cr3.jfif" class="pic" alt="...">
      </div>
      <div class="carousel-item">
        <img src="/../assets/cr2.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="..." class="d-block w-100" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div> -->
  
    <!-- 
      Print Array 
      <div *ngFor="let strArray of strrecevied">
      {{strArray}}
    </div> -->
    <!-- <div class="card" style="width: 18rem;">
      <img src=".././assets/vcoffee.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Vanilla Latte </h5>
        <p class="card-text">Price - 250 Rs</p>
        <a href="#" class="btn btn-primary" onclick="count()">Add to cart</a>
        
      </div>
    </div> -->
 
 