<!-- <app-coffeehead></app-coffeehead> -->

<!-- <img [src] =" imageUrl"> -->
<!-- <div class="container">
    <button class="btn btn-primary" (click)="counterval()">Click Me</button><br>
    <input type="text" id="txtfield" value="{{count}}">
    <button class="btn btn-primary" (click)="name()">Click Me</button><br>
    <input type="text" id="txtfield" value="{{nm}}">
</div>  -->

<!-- <div class="container-fluid">
    <label>First Name</label>
    <input type="text" id="fn">
    <label>Last name</label>
    <input type="text" id="ln">
    <button class="btn btn-primary" (click)="name()">Click Me</button><br>
</div>
<table>
    <tr>
        <th>First Name</th>
        <th>Last Name</th>
      </tr>
      <tr>
        <td>{{fn}}</td>
        <td>{{ln}}</td>
      </tr>
</table> -->

<!--
<app-coffeehead></app-coffeehead>
<app-coffee-content></app-coffee-content>
<app-coffee-footer></app-coffee-footer> -->



<!-- <div class="container">
  <input name="firstname" [(ngModel)]="fname">
  <p>{{fname}}</p>
</div>
<div *ngIf="able">
<p>Some elements</p>
</div>-->


<!-- <div>
  <input name="num" [(ngModel)]="num">
  <button class="btn btn-primary" (click)="oddeven()">click</button>
</div>
<div *ngIf="oddeven()">
  <p>Even</p>
</div>  -->



<!-- <div class="container">
  <div *ngFor="let numArray of numArrays">
    {{numArray}}
  </div>
  <div class="container">
    <div *ngFor="let strArray of strArrays">
      {{strArrays}}
    </div>
</div> -->

<!-- Print Name at odd index places 
  <div>
  <div *ngFor="let strArray of strArrays; let i = index">
   
  <div *ngIf="strArray.length>5">
    {{strArray}}
  </div> -->
  <!-- <div *ngIf="i %2 ==0">
    {{strArray}}
  </div>
</div>  -->
<!-- Print Array 
<app-coffee-content [strrecevied]="strArrays"></app-coffee-content> -->
<div class="container">
<h1>Cart [{{counter}}]</h1>

<table class="table">
  <thead>
    <tr>
      <th>Sr No</th>
      <th>Name</th>
      <th>Price</th>
      <th>Quantity</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let cartItem of cartItems">
      <td>{{cartItem.id}}</td>
      <td>{{cartItem.pname}}</td>
      <td>{{cartItem.price}}</td>
      <td>{{cartItem.quantity}}</td>
      
    </tr>
    <tr>
      <th>-</th>
      <td>Total</td>
      <td>{{billamount}}</td>
      <td>{{totalQuantity}}</td>
    </tr>
  </tbody>


</table>

<app-addtocart (newItemevent)="addItem($event)"></app-addtocart>
</div>