<!-- <img [src] =" imageUrl"> -->
<!-- <div class="container">
    <button class="btn btn-primary" (click)="counterval()">Click Me</button><br>
    <input type="text" id="txtfield" value="{{count}}">
    <button class="btn btn-primary" (click)="name()">Click Me</button><br>
    <input type="text" id="txtfield" value="{{nm}}">
</div>  -->

<!-- <div class="container-fluid">
    <label>First Name</label>
    <input type="text" id="fn">
    <label>Last name</label>
    <input type="text" id="ln">
    <button class="btn btn-primary" (click)="name()">Click Me</button><br>
</div>
<table>
    <tr>
        <th>First Name</th>
        <th>Last Name</th>
      </tr>
      <tr>
        <td>{{fn}}</td>
        <td>{{ln}}</td>
      </tr>
</table> -->
<app-coffeehead></app-coffeehead>
<app-coffee-content></app-coffee-content>
<app-coffee-footer></app-coffee-footer>